/* client/src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: var(--container-bg-color);
  padding: 0 40px;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 2px 4px var(--shadow-color);
  display: flex;
  align-items: center;
}

.app-header h1 {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.main-content {
  flex-grow: 1;
  padding: 20px 40px;
}
